@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sedgwick+Ave+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* box-sizing: border-box; */

  overflow: hidden;
}

.background-container {
  height: 100vh;
  width: 100%;

  background-image: url(backgood.jpg);
  background-size: cover;

  position: relative;
}
.gridrow {
  z-index: 5;
}
.main-container {
  height: 620px;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(26, 25, 25);
  border-radius: 9px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.9), -4px -4px 15px rgba(0, 0, 0, 0.9);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.btn {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  z-index: 9;
}

.addBorder {
  box-shadow: 0 0 0 2.5px rgb(255, 255, 255);
}

.target-container {
  height: 290px;
  width: 297px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(46, 43, 38);
  border-radius: 9px;
  transform: scale(1);
  position: absolute;
  right: 50px;
  top: 50px;
}

.button {
  height: 80px;
  width: 80px;
  margin: 5px;
  border-radius: 4px;
  background: transparent;
  border: 0;
  outline: 0;
}

.hidden {
  display: none;
}

.finalbutton {
  height: 200px;
  width: 200px;
}

.content-container {
  height: 800px;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: start;
  background-color: black;
  padding: 0;
  margin: 0;
}

.WinMessage {
  font-size: 5rem;
  text-align: center;
  margin-top: 100px;
  font-family: "Sedgwick Ave Display", cursive;
  color: #fff2cc;
}

.top-container {
  height: 300px;
  width: 100%;
  background-color: aqua;
  margin: 0;
  text-align: center;
}

.Title {
  font-size: 3.5rem;
  color: rgb(110, 105, 105);
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
  margin-top: 0px;
}

.titleButton1 {
  border: 0;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2rem;
  outline: 0;
  height: 90px;
  width: 300px;
  border-radius: 10px;
  background-color: #20c20e;
  text-align: center;
  margin-left: 45px;
  margin-top: 100px;
  color: rgb(58, 54, 48);
  transition: all 0.3s ease 0s;
}

img {
  height: 200px;
  margin-left: 93px;
  margin-top: 70px;
}

p {
  color: rgb(110, 105, 105);
  margin-left: 110px;
  font-size: 1rem;
  margin-top: 210px;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: #20c20e;
}

.titleButton1:hover {
  background-color: rgb(110, 105, 105);
  color: #20c20e;
}

.hideButton {
  display: none;
}
.titleButton2 {
  border: 0;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2rem;
  outline: 0;
  height: 90px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(110, 105, 105);
  text-align: center;
  margin-left: 45px;
  margin-top: 100px;
  color: #20c20e;
  transition: all 0.3s ease 0s;
}

.titleButton2:hover {
  background-color: #20c20e;
  color: rgb(110, 105, 105);
}

.win {
  color: #20c20e;
  margin-top: 50px;
}

.minimessage {
  margin-top: 10px;
}

.back-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 362px;
  width: 374px;
  background: #000000;
  z-index: 1;
  border-radius: 9px;
}

.right-container {
  height: 100%;
  width: 400px;
  background: #191919;
  position: absolute;
  top: 0;
  right: 0%;
}
.left-container {
  height: 100%;
  width: 400px;
  background: #191919;
  position: relative;
}

.timer {
  font-size: 4rem;
  color: #fff2cc;
  margin-left: 110px;
  margin-top: 450px;
  font-family: "Exo", sans-serif;
}
.highscore {
  font-family: "Exo", sans-serif;
  margin-left: 110px;
  margin-top: 250px;
  color: #20c20e;
}

span {
  color: #fff2cc;
  font-family: "Exo", sans-serif;
}

.endMessage-container {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  backdrop-filter: blur(7px);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endMessage {
  height: 470px;
  width: 800px;
  background: rgb(58, 54, 48);
  border-radius: 10px;
  position: relative;
}
.backgroundLogo {
  height: 270px;

  position: absolute;
  top: -35px;
  left: -80px;
}
.endContentLeft {
  height: 100%;
  width: 300px;
  background-color: #fff2cc;
}

.endTitle {
  margin-top: 330px;
  color: rgb(58, 54, 48);
}

.ActualEndContent {
  position: absolute;
  text-align: center;
  left: 550px;
  transform: translateX(-50%);
  bottom: 50px;
  width: 500px;
}

h2 {
  font-size: 2.5rem;
}

.yourScore {
  font-size: 3rem;
  color: #fff2cc;
}

.restart {
  border: 0;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2rem;
  outline: 0;
  height: 90px;
  width: 350px;
  border-radius: 10px;

  text-align: center;
  margin-top: 50px;

  cursor: pointer;
  border: 3px solid #20c20e;
  background: transparent;
  color: #fff2cc;
  transition: all 0.3s ease 0s;
}
.restart:hover {
  color: rgb(58, 54, 48);
  background-color: #fff2cc;
  border: 0;
  width: 370px;
  height: 110px;
  margin-top: 30px;
}

.highScoreEnd {
  color: #20c20e;
}

.fa-xmark {
  color: rgb(110, 105, 105);
  font-size: 2.5rem;
  position: absolute;
  right: 5px;
  top: 0px;
}

.hideIt {
  display: none;
}

.winOrNot {
  font-size: 5rem;
  color: #20c20e;
}

@media (max-width: 1439px) {
  .left-container {
    transform: scale(1) translateX(-100px);
  }

  .right-container {
    transform: scale(1) translateX(100px);
  }
}

@media (max-width: 1180px) {
  .left-container {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-container {
    transform: scale(1.5) translate(-33%, -30%);
  }
  p {
    display: none;
  }

  a {
    margin: 0;
  }

  .titleButton1 {
    margin: 0;
  }
  .titleButton2 {
    margin: 0;
  }

  .right-container {
    display: flex;
    transform: none;
    width: 100%;
    position: absolute;
    background: transparent;
    height: 350px;
    justify-content: center;
    top: 100px;
    margin: 0;
  }

  .Title {
    margin-top: 0;
  }

  img {
    height: 100px;

    margin: 0;
  }

  .Title {
    font-size: 2.5rem;
    margin-left: 20px;
  }

  .logoandtitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonandmessage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleButton1 {
    height: 60px;
    width: 290px;
    margin-right: 20px;
  }
  .titleButton2 {
    height: 60px;
    width: 290px;
    margin-right: 20px;
  }

  .timer {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 99;
  }

  .finaltimer {
    margin: 0;
  }
  .highscore {
    margin: 0;
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 2rem;
    background: #191919;
    height: 300px;
    width: 100%;
  }

  .target-container {
    margin-right: -30px;
    margin-top: -50px;
    z-index: 200;
  }

  .endContentLeft {
    display: flex;
  }
  .backgroundLogo {
    height: 230px;

    position: absolute;
    top: 60px;
    left: 30px;
  }
  .endContentLeft {
    height: 100%;
    width: 300px;
    background-color: #fff2cc;
  }

  .endTitle {
    margin-top: 300px;
    color: rgb(58, 54, 48);
    margin-left: 45px;
    font-size: 3rem;
  }
  .hello {
    margin: 0;
    font-size: 4rem;
    color: aquamarine;
    position: absolute;
    left: 0px;
    top: 60px;
  }
}

@media (max-width: 560px) {
  img {
    height: 60px;
  }
  .Title {
    font-size: 2rem;
  }

  .target-container {
    transform: scale(0.5);
    margin-top: -74px;
    margin-right: -110px;
  }
}

@media (max-width: 520px) {
  .main-container {
    transform: scale(0.7) translate(-71.5%, -30%);
  }
}

@media (max-width: 830px) {
  .endMessage {
    height: 600px;
    width: 400px;
  }
  .endContentLeft {
    height: 200px;
    width: 600px;
  }

  .backgroundLogo {
    position: absolute;
    top: 35px;
    left: 20px;
    height: 130px;
  }

  .endTitle {
    position: absolute;
    top: 80px;
    left: 170px;
    margin: 0;
  }

  .ActualEndContent {
    position: absolute;
    left: 200px;
    top: 190px;
    height: 400px;
  }
}
